{% extends 'base.html' %}
{% block title %} {{ post.title }} | SHARAN KUMAR BLOG {% endblock %}


{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1" style="color:#0d6efd;">{{ post.title }}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2"><span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">Published on {{ post.create_date }}</span></div>
                    <!-- Post categories
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a> -->
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{ post.image.url }}" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4" style="text-align: justify;">
                        {{ post.body|safe }}
                    </p>
                </section>
            </article>
            <section style="margin-bottom: 100px;">
                <a href="{% url 'home' %}" class="btn btn-primary">Back</a>
            </section>
        </div>
        <div class="col-lg-4">
            <!-- Search widget-->
            <!-- <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div> -->
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Visit My Portfolio Website</div>
                <div class="card-body">
                    <a href="https://isharankumar.com" target="_blank"><img class="img-fluid rounded" src="/media/images/sharanportfolio.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
    
</div>

{% endblock %}

